@charset "utf-8";

@import "fonts", "icons/font-awesome";

$spacing-unit: 30px;

$pastelColor: {{ pastelColor }};
$lightAccentColor: {{ lightAccentColor }};
$darkAccentColor: {{ darkAccentColor }};

$csstyle-part-symbol: '\\/';
$csstyle-root-id: '{{ projectName }}';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "github-light",
        "base",
        "syntax-highlighting"
;
