@charset "utf-8";

$spacing-unit: 30px;

$pastelColor: #F7FED2;
$lightAccentColor: #ADD100;
$darkAccentColor: #7B920A;

$csstyle-part-symbol: '\\/';
$csstyle-root-id: 'easycfg';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "github-light",
        "base",
        "syntax-highlighting"
;
